body {
    line-height: 1.8rem;
}
.container {
    width: 100%;
    max-width: 1240px;
    padding: 40px 20px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    position: relative;
}

.d-flex-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.color-theme {
    color: #037fff;
}