.wrapper {
    flex: 0 0 30%;
    max-width: 30%;
}

.backgroundImg {
    width: 100%;
    background-color: #ffffe6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background-size: cover;
    background-position: center;
}

.title {
    color: #fff;
    margin: 1rem 0 0;
    font-weight: 700;
}

.desc {
    color: #a4acc4;
    margin-bottom: 0;
}