body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8rem;
  background: url("../img/background-main.png") center no-repeat;
  background-size: cover;
  color: $primary;
  font-size: 18px;
  font-weight: 300;
}
.container {
  width: 100%;
  max-width: 1240px;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  position: relative;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.d-flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.flex-between {
  justify-content: space-between;
}

.color-theme {
  color: $accent;
}

p {
  font-size: 1.25rem;
  line-height: 2rem;
}

h1 {
  font-size: 3.2857rem;
  line-height: 4rem;
}

h2 {
  font-size: 2.57rem;
  line-height: 3.2857rem;
  font-weight: 400;
  position: relative;
  padding-bottom: 15px;
  text-transform: uppercase;
}

h4 {
  font-weight: 400;
  font-size: 1.71rem;
  line-height: 2.43rem;
}

h5 {
  font-size: 1.43rem;
  line-height: 2.14rem;
}

h6 {
  font-size: 1.14rem;
  line-height: 1.857rem;
}

.wrapper {
  padding-left: 280px;
  position: relative;
  min-height: 100vh;
  z-index: 1;
}

.wrapper__main {
  min-height: 100vh;
  z-index: 1;
  &.home {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.glass {
  background-color: rgba(255,255,255, 0.06);
  backdrop-filter: blur(20px);
  border-radius: 8px;
  border: 1px solid rgba(255,255,255, .1);
  box-shadow: 20px 20px 22px rgba(0,0,0, 0.2);
  &__dark {
    background-color: rgba(1,1,1, 0.3);
  }
}

*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}