#root {
  position: relative;
}
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8rem;
  background: linear-gradient(45deg, rgba(36,0,29,1) 0%, rgba(54,9,121,1) 35%, rgba(27,140,187,1) 70%, rgba(0,212,255,1) 100%);
  color: $primary;
  font-size: 20px;
  font-weight: 300;
}
.container {
  width: 100%;
  max-width: 1240px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  position: relative;
}

.col-6 {
  flex: 0 0 auto;
  width: 100%;
  padding: 0 15px;
}

.d-flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.flex-between {
  justify-content: space-between;
}

.color-theme {
  color: $accent;
}

p {
  font-size: 1.25rem;
  line-height: 2rem;
}

h1 {
  font-size: 3.2857rem;
  line-height: 4rem;
  text-shadow: 2px 2px 4px rgba(1, 1, 1, .3);
}

h2 {
  font-size: 2.57rem;
  line-height: 3.2857rem;
  font-weight: 400;
  position: relative;
  padding-bottom: 15px;
  margin-top: 90px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(1, 1, 1, .3);
}

h4 {
  font-weight: 400;
  font-size: 1.71rem;
  line-height: 2.43rem;
}

h5 {
  font-size: 1.43rem;
  line-height: 2.14rem;
}

h6 {
  font-size: 1.14rem;
  line-height: 1.857rem;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  z-index: 1;
}

.wrapper__main {
  min-height: 100vh;
  z-index: 1;
  &.home {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.glass {
  background-color: rgba(255,255,255, 0.06);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  border: 1px solid rgba(255,255,255, .1);
  box-shadow: 20px 20px 22px rgba(0,0,0, 0.2);
  &__dark {
    background-color: rgba(1,1,1, 0.3);
  }
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .5;
}

.avatar {
  border-radius: 50%;
  box-shadow: 15px 15px 20px rgba(0,0,0, 0.4);
  margin-bottom: 1rem;
}

*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}