.contact-form {
  padding: 30px;
  position: relative;

  .form-field {
    margin-top: 20px;
    position: relative;
    &:nth-child(1) {
      margin-top: 0;
    }
  }
  .form-errors {
    min-height: 28px;
    background-color: #d42020;
    display: inline-block;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
  .label {
    position: relative;
    transition: all .4s ease-out;
    pointer-events: none;
    font-size: .94rem;
  }
  .input,
  .textarea {
    background: rgba(1,1,1, .2);
    border: 1px solid rgba(255,255,255, .1);
    border-radius: 4px;
    font: 300 1rem Poppins;
    color: $primary;
    vertical-align: middle;
    width: 100%;
    padding: 0 15px;
    transition: all linear .2s;
    box-shadow: 10px 10px 12px rgba(0,0,0, 0.2);
    &:focus {
      outline: none;
      background: rgba(1,1,1, .5);
      box-shadow: 20px 20px 22px rgba(0,0,0, 0.2);
    }
  }
  .input {
    height: 50px;
  }

  .textarea {
    padding: 10px 15px;
    resize: none;
  }
  .btn {
    position: relative;
    cursor: pointer;
    padding: 0 30px;
    background: $accent;
    border: 0;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    z-index: 1;
    text-transform: uppercase;
    font: .9rem Poppins;
    letter-spacing: 2px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    transition: all .4s ease-out;

    &:before {
      content: "";
      position: absolute;
      left: -100%;
      top: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, .5), transparent);
      transition: .5s;
    }
    &:hover {
      color: #fff;
      box-shadow: 10px 10px 12px rgba(0,0,0, 0.2);
      transform: translateX(10px);
      &:before {
        left: 100%;
      }
    }
  }
  ::placeholder {
    color: rgba(255,255,255, .7);
  }
}