.skill-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-col {
  max-width: 33%;
  flex: 0 0 33%;
  padding: 15px;
  cursor: pointer;
  &:hover {
    .skill-card {
      color: #fff;
      box-shadow: 10px 10px 12px rgba(0,0,0, 0.2);
      transform: translateY(-5px);
      &:before {
        background-position: 0 0;
      }
    }
  }
}

.skill-card {
  position: relative;
  min-height: unset;
  padding: 15px;
  text-align: center;
  background-color: rgba(0,0,0, .3);
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg, transparent 58%,
            rgba(255,255,255, 0.3) 67%, transparent 68%);
    background-position: 170% 0;
    background-size: 200% 100%;
    border-radius: 4px;
    transition: .5s;
  }
}

.skill__title {
  text-transform: uppercase;
}