.social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 15px auto;
  align-items: center;
  grid-gap: 20px;
}

.social__item {
  background-color: rgba(255,255,255, 0.06);
  backdrop-filter: blur(0);
  border-radius: 50%;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.2);
  padding: 8px;
  transition: all cubic-bezier(0.4, 0, 1, 1) .2s;
  border: 1px solid rgba(255,255,255, 0.06);
  cursor: pointer;
  &:hover {
    transform: scale(1.15);
    backdrop-filter: blur(15px);
    box-shadow: 20px 20px 22px rgba(0,0,0, 0.2);
  }
}

.social__link {
  line-height: 0;
  display: block;
  width: 100%;
  .icon {
    max-width: 40px;
    width: 100%;
  }
}