.resume {
    display: flex;
    margin-top: 30px;
}

.summary {
    flex: 0 0 170px;
    max-width: 170px;
    align-self: flex-start;
    padding-left: 20px;
    position: relative;
}

.summary:before {
    content: "";
    position: absolute;
    left: -9px;
    top: 6px;
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background: #10121b;
    border: 3px solid #2e344e;
}

.year {
    color: #a4acc4;
    margin-bottom: 0;
}

.details {
    position: relative;
    padding-left: 50px;
}

.details:before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    height: 1px;
    width: 30px;
    background: #2e344e;
}

.details h5 {
    color: #037fff;
    margin-bottom: 0;
    font-weight: 700;
}

.company {
    color: white;
}