body {
    color: #a4acc4;
    background-color: #10121b;
    font-size: 18px;
}

.wrapper {
    padding-left: 260px;
    position: relative;
    min-height: 100vh;
    z-index: 1;
}

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}