@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    color: #a4acc4;
    background-color: #10121b;
    font-size: 18px;
    line-height: 1.8rem;
    font-weight: 400;
}

p {
    font-size: 1.25rem;
    line-height: 2rem;
}

h1 {
    font-size: 3.2857rem;
    line-height: 4rem;
}

h2 {
    font-size: 2.57rem;
    line-height: 3.2857rem;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
    text-transform: uppercase;
}

h4 {
    font-weight: 700;
    font-size: 1.71rem;
    line-height: 2.43rem;
}

h5 {
    font-size: 1.43rem;
    line-height: 2.14rem;
}

h6 {
    font-size: 1.14rem;
    line-height: 1.857rem;
}

.wrapper {
    padding-left: 260px;
    position: relative;
    min-height: 100vh;
    z-index: 1;
}

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}